.wrapper {
  display: flex;
  background-color: black;
  justify-content: center;
}

.test {
  display: flex;
  width: 100%;
  max-width: 1344px;
  flex-direction: column;
  gap: 24px;
}

.artistsSeeAll {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrapperConteiner {
  display: flex;
  gap: 17px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.artists {
  border-radius: 1000px;
}

.topArtists {
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.seeAll {
  color: #8a00b4;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.artistsName {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
