.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 4px;
  background-color: #444444;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.burger:hover span {
  background-color: #b7b7b7;
}

.burger:active span {
  background-color: #ffffff;
}

.burger:active {
  background-color: transparent;
}
